<div class="card">
    <a href="{{ baseURL }}/authors/{{ author.id }}">{{ author.avatarHtml }}</a>

    <span class="info">
        <h3>
            <a href="{{ baseURL }}/authors/{{ author.id }}">{{ author.displayName }}</a>
        </h3>
    </span>
</div>