<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{ siteIcon }}" type="image/x-icon">

  <meta property="og:title" content="Unauthorized | {{ siteName }}">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ siteImage }}">
  <meta property="og:url" content="{{ baseURL }}/{{ requestedPath }}">
  <meta name="twitter:card" content="summary_large_image">

  <meta property="og:description" content="You can't access the requested file.">
  <meta property="og:site_name" content="Unauthorized | {{ siteName }}">
  <meta name="twitter:image:alt" content="Unauthorized | {{ siteName }}">

  <title>Unauthorized | {{ siteName }}</title>
  <link rel="stylesheet" href="{{ baseURL }}/assets/css/styles.css" />
</head>

<body>
  {{ components.navbar }}

  <section class="header">
    <h1>Unauthorized</h1>
    <p>You can't access the requested file.</p>

    <p><a href="/">Home</a> • <a href="#">Go Back</a></p>
  </section>
</body>

</html>