<!DOCTYPE html>
<html lang="en" theme="{{ defaultTheme }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{ siteIcon }}" type="image/x-icon">

    <meta property="og:title" content="{{ errors.404.title }} | {{ siteName }}">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ siteImage }}">
    <meta property="og:url" content="{{ baseURL }}/{{ requestedPath }}">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:description" content="{{ errors.404.text }}">
    <meta property="og:site_name" content="{{ errors.404.title }} | {{ siteName }}">
    <meta name="twitter:image:alt" content="{{ errors.404.title }} | {{ siteName }}">

    <title>{{ errors.404.title }} | {{ siteName }}</title>
    <link rel="stylesheet" href="{{ baseURL }}/assets/css/styles.css" />
  </head>
  <body>
    {{ components.navbar }}

    <div class="header">
      <h1>{{ errors.404.title }}</h1>
      <p>{{ errors.404.text }}</p>

      <p><a href="/">Home</a> • <a href="#">Go Back</a></p>
    </div>
  </body>
</html>
