<a href="/posts/another-example" data-aos="fade-up" class="card flex direction-column center">
    <img src="/assets/images/amongus-crewmate.webp" alt="Different Example">
    <h1>Different Example</h1>
    <p>marekk • 9/28/2023, 7:42:00 PM GMT</p>
    <p>another example. RED IS SUS</p>
    <div class="btn primary">Read more</div>
</a>
<a href="/posts/example" data-aos="fade-up" class="card flex direction-column center">
    <img src="https://upload.wikimedia.org/wikipedia/en/4/4d/Shrek_%28character%29.png" alt="Example Post">
    <h1>Example Post</h1>
    <p>marekk • 9/28/2023, 7:42:00 PM GMT</p>
    <p>this is just an example. also shrek is cool</p>
    <div class="btn primary">Read more</div>
</a>