<!DOCTYPE html>
<html lang="en" theme="{{ defaultTheme }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ siteIcon }}" type="image/x-icon">
    <meta name="keywords" content="{{ post.tags }}">

    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ post.coverImage }}">
    <meta property="og:url" content="{{ baseURL }}/posts/{{ post.id }}">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:description" content="{{ post.description }}">
    <meta property="og:site_name" content="{{ siteName }}">
    <meta name="twitter:image:alt" content="{{ post.title }}">

    <title>{{ post.title }} | {{ siteName }}</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
</head>
<body>
    {{ navbar }}

    <section class="header secondary flex direction-column center text-center">
        {{ post.coverImageHtml }}
        <h1>{{ post.title }}</h1>
        <p>{{ post.description }}</p>
        <p>{{ post.author }} • {{ post.date }}</p>
        <div class="postTags flex items-center">
            {{ post.tags }}
        </div>
    </section>

    <section class="flex direction-column">
        {{ post.content }}
    </section>
</body>
</html>