{
    "siteName": "Bun Blog",
    "siteDescription": "A customizable, extendendable and easy-to-use markdown blogging website written in Bun! 🔥",
    "siteKeywords": ["blog", "bun", "javascript", "js"],

    "siteIcon": "",
    "siteImage": "",

    "baseURL": "https://blog.example.com",
    "defaultTheme": "default",

    "postRefreshInterval": 300,
    "dateString": "MM/dd/yyyy hh:mm tt",

    "rss": {
        "title": "{{ siteName }}",
        "description": "{{ siteDescription }}",
        "generator": "Bun Blog {{ version }}",
        "feed_url": "{{ baseURL }}/rss.xml",
        "site_url": "{{ baseURL }}",
        "copyright": "Copyright 2023 {{ siteName }}",
        "ttl": 60
    },

    "errors": {
        "403": {
            "title": "Unauthorized",
            "text": "You can't access the requested file."
        },
        "404": {
            "title": "Not Found",
            "text": "Couldn't find the requested file."
        }
    },

    "server": {
        "host": "0.0.0.0",
        "port": 3000
    }
}