<!DOCTYPE html>
<html lang="en" theme="{{ defaultTheme }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ siteIcon }}" type="image/x-icon">
    <meta name="keywords" content="{{ post.tags }}">

    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ post.coverImage }}">
    <meta property="og:url" content="{{ baseURL }}/posts/{{ post.id }}">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:description" content="{{ post.description }}">
    <meta property="og:site_name" content="{{ siteName }}">
    <meta name="twitter:image:alt" content="{{ post.title }}">

    <title>Author {{ author.displayName }} | {{ siteName }}</title>
    <link rel="stylesheet" href="{{ baseURL }}/assets/css/styles.css" />
</head>
<body>
    {{ components.navbar }}

    <main>
        <section class="header">
            <div class="info">
                {{ author.avatarHtml }}

                <div class="text">
                    <h1>Author {{ author.displayName }}</h1>
                    <em class="postsCount">{{ author.postsCount }} posts</em>
                    <div class="content">
                        {{ author.content }}
                    </div>
                </div>
            </div>
        </section>
        <section class="author">
            <div class="blogs">
                {{ author.postsHtml }}
            </div>
        </section>
    </main>
</body>
</html>