<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ siteIcon }}" type="image/x-icon">
    <meta name="keywords" content="{{ post.tags }}">

    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ post.coverImage }}">
    <meta property="og:url" content="{{ baseURL }}/posts/{{ post.id }}">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:description" content="{{ post.description }}">
    <meta property="og:site_name" content="{{ siteName }}">
    <meta name="twitter:image:alt" content="{{ post.title }}">

    <title>{{ post.title }} | {{ siteName }}</title>
    <link rel="stylesheet" href="{{ baseURL }}/assets/css/styles.css" />
</head>

<body>
    {{ components.navbar }}

    <section class="header">
        <div class="info">
            {{ post.coverImageHtml }}

            <div class="text">
                <div class="tags">{{ post.tagsHtml }}</div>
                <h1>{{ post.title }}</h1>
                <a href="{{ baseURL }}/authors/{{ post.author.id }}" class="author">
                    {{ post.author.avatarHtml }}
                    {{ post.author.displayName }}
                </a>
                <p>{{ post.formattedDate }}</p>
                <p>{{ post.description }}</p>
            </div>
        </div>
    </section>
    <main>
        <section class="post">
            <div class="content">
                {{ post.content }}
            </div>
        </section>
    </main>
</body>

</html>