@import "colors.css";
@import "variables.css";

:root[theme="dark"] button.primary {
    background: var(--primary-button-color);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    color: var(----primary-button-text-color);
    cursor: var(--button-cursor);
}

