<!DOCTYPE html>
<html lang="en" theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="{{ postTags }}">

    <meta property="og:title" content="{{ postTitle }}">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ postCoverImage }}">
    <meta property="og:url" content="{{ siteHostname }}/posts/{{ postId }}">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:description" content="{{ postDescription }}">
    <meta property="og:site_name" content="{{ siteName }}">
    <meta name="twitter:image:alt" content="{{ postTitle }}">

    <title>{{ postTitle }} | {{ siteName }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>
<body>
    <nav>
        <a href="/"><h1>{{ siteName }}</h1></a>
  
        <ul>
          <li><a href="/rss">RSS</a></li>
        </ul>
    </nav>

    <section class="header secondary flex direction-column center text-center">
        <img src="{{ postCoverImage }}" alt="{{ postTitle }}">
        <h1>{{ postTitle }}</h1>
        <p>{{ postDescription }}</p>
        <p>{{ postAuthor }} • {{ postDate }}</p>
        <div class="postTags flex items-center">
            {{ postTags }}
        </div>
    </section>

    <section class="flex direction-column">
        {{ postContent }}
    </section>

    <script src="/assets/js/navScroll.js"></script>
</body>
</html>