:root[theme="default"] {
    --primary-color: rgb(0, 80, 200);
    --secondary-color: rgb(87, 154, 255);
    
    --text-color: rgb(238, 238, 238);
    --accent-color: rgb(0, 80, 200);

    --link-color: rgb(87, 154, 255);
    --contrast-link-color: rgb(238, 238, 238);
    
    --primary-background: rgb(32, 32, 32);
    --secondary-background: rgb(0, 80, 200);
    --tertiary-background: rgb(87, 154, 255);

    --nav-background: rgb(32, 32, 32);

    --card-background: rgb(42, 42, 42);
    --card-heading-background: rgba(42, 42, 42, 0.75);

    --primary-button-color: rgb(0, 80, 200);
    --primary-button-text-color: rgb(238, 238, 238);
    --secondary-button-color: rgb(87, 154, 255);
    --secondary-button-text-color: rgb(238, 238, 238);
    --contrast-button-color: rgb(238, 238, 238);
    --contrast-button-text-color: rgb(43, 43, 43);
}