@import "colors.css";
@import "variables.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* HELPER CLASSES */

:root[theme="default"] .flex {
    display: flex;
}

:root[theme="default"] .flex.wrap {
    flex-wrap: wrap;
}

:root[theme="default"] .flex.direction-column {
    flex-direction: column;
}

:root[theme="default"] .flex.center {
    align-items: center;
    justify-content: center;
}

:root[theme="default"] .flex.items-start {
    align-items: flex-start;
}

:root[theme="default"] .flex.items-center {
    align-items: center;
}

:root[theme="default"] .flex.items-stretch {
    align-items: stretch;
}

:root[theme="default"] .flex.items-end {
    align-items: flex-end;
}

:root[theme="default"] .flex.content-start {
    justify-content: flex-start;
}

:root[theme="default"] .flex.content-center {
    justify-content: center;
}

:root[theme="default"] .flex.content-end {
    justify-content: flex-end;
}

:root[theme="default"] .text-center {
    text-align: center;
}

:root[theme="default"] * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root[theme="default"] body {
    color: var(--text-color);
    background: var(--primary-background);
    font-family: var(--text-font);
}

:root[theme="default"] section {
    margin-block: 2rem;
    padding-block: 1em;
    padding-inline: 5vw;
}

:root[theme="default"] a {
    color: var(--link-color);
}

:root[theme="default"] h1 {
    font-size: 2rem;
    margin-block: 10px;
}

:root[theme="default"] nav {
    position: fixed;
    padding: 20px;
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
    z-index: 99;
    transition: background-color 0.3s, margin 0.3s, width 0.3s, border-radius 0.3s;
}

:root[theme="default"] nav.scrolled {
    background: var(--nav-background);
    margin: 5px 10px;
    width: calc(100% - 20px);
    border-radius: 8px;
}

:root[theme="default"] nav h1 {
    font-size: 1.8rem;
    margin: 0;
}

:root[theme="default"] nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.1rem;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 75%;
}

:root[theme="default"] nav a {
    color: var(--contrast-link-color);
    text-decoration: none;
}

:root[theme="default"] .header {
    min-height: 50vh;
    width: 100%;
    margin: 0;
    gap: 0.5rem;
    padding-block: 64px;
}

:root[theme="default"] .header.secondary {
    background: var(--secondary-background);
}

:root[theme="default"] .header.secondary a {
    color: var(--contrast-link-color);
}

:root[theme="default"] .header.secondary img {
    max-height: 50vh;
}

:root[theme="default"] .blogs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 1rem;
    margin-block: 30px;
    place-items: stretch;
    place-content: center;
}

:root[theme="default"] .card {
    background: var(--card-background);
    border-radius: var(--card-border-radius);
    position: relative;
    width: 300px;
    max-width: 80vw;
    gap: 1rem;
    min-height: 200px;
    padding: var(--card-padding);
    text-decoration: none;
    color: var(--text-color);
    transition: scale 0.2s, box-shadow 0.3s, opacity 0.4s, transform 0.4s;
    justify-content: flex-start !important;
}

:root[theme="default"] .card:hover {
    scale: 0.95;
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.1);
}

:root[theme="default"] .card img {
    object-fit: cover;
    width: calc(100% + var(--card-padding) * 2);
    margin-top: calc(var(--card-padding) * -1);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    aspect-ratio: 16/9;
}

:root[theme="default"] .card h1 {
    font-size: 1.5rem;
    max-width: 95%;
}

/* :root[theme="default"] .card:has(img.loaded) h1 {
    position: relative;
    top: -84px;
    background: var(--card-heading-background);
    padding: 15px;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    backdrop-filter: blur(5px);
}

:root[theme="default"] .card:has(img.loaded) p:first-of-type {
    margin-top: -75px;
} */

:root[theme="default"] .btn {
    transition: scale 0.3s;
}

:root[theme="default"] .btn:hover {
    scale: 1.1;
}

:root[theme="default"] .btn.primary {
    background: var(--primary-button-color);
    color: var(--primary-button-text-color);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: var(--button-cursor);
    margin: var(--button-margin);
    border: none;
    text-decoration: none;
}

:root[theme="default"] .header.secondary .btn.primary {
    background: var(--contrast-button-color);
    color: var(--contrast-button-text-color);
}

:root[theme="default"] .btn.secondary {
    border: 2px var(--secondary-button-color) solid;
    color: var(--secondary-button-text-color);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: var(--button-cursor);
    margin: var(--button-margin);
    text-decoration: none;
}

:root[theme="default"] .header.secondary .btn.secondary {
    border: 2px var(--contrast-button-color) solid;
    color: var(--contrast-button-color);
}