:root[theme="default"]  {
    --text-font: 'Montserrat', sans-serif;

    --button-border-radius: 0.75rem;
    --button-padding: 0.75rem 2rem;
    --button-margin: 0.5rem;
    --button-cursor: pointer;

    --card-padding: 20px;
    --card-border-radius: 0.75rem;
}