<div data-aos="fade-up" class="card">
    <a href="https://pgq8940f-3000.euw.devtunnels.ms/authors/example">{{ author.avatarHtml }}</a>

    <span class="info">
        <h3>
            <a href="https://pgq8940f-3000.euw.devtunnels.ms/authors/example">Example Author</a>
        </h3>
    </span>
</div>
<div data-aos="fade-up" class="card">
    <a href="https://pgq8940f-3000.euw.devtunnels.ms/authors/marekk"><img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg" alt="marekk" class="authorAvatar"></a>

    <span class="info">
        <h3>
            <a href="https://pgq8940f-3000.euw.devtunnels.ms/authors/marekk">marekk</a>
        </h3>
    </span>
</div>