<div class="card">
    <a href="http://127.0.0.1:3000/authors/example"><img class="authorAvatar" src="{{ baseURL }}/assets/images/example-cover.jpg" alt="Example Author"></a>

    <span class="info">
        <h3>
            <a href="http://127.0.0.1:3000/authors/example">Example Author</a>
        </h3>
    </span>
</div>
<div class="card">
    <a href="http://127.0.0.1:3000/authors/third-one"></a>

    <span class="info">
        <h3>
            <a href="http://127.0.0.1:3000/authors/third-one">third-one</a>
        </h3>
    </span>
</div>
<div class="card">
    <a href="http://127.0.0.1:3000/authors/marekk"></a>

    <span class="info">
        <h3>
            <a href="http://127.0.0.1:3000/authors/marekk">marekk</a>
        </h3>
    </span>
</div>