<div data-aos="fade-up" class="card">
    <a href="https://pgq8940f-3000.euw.devtunnels.ms/posts/another-example"></a>

    <span class="info">
        <div class="tags"><a href="{{ baseURL }}/tags/bun-blog" class="tag">bun-blog</a><a href="{{ baseURL }}/tags/example" class="tag">Example Tag</a><a href="{{ baseURL }}/tags/another" class="tag">another</a><a href="{{ baseURL }}/tags/different" class="tag">different</a></div>

        <h3>
            <a href="https://pgq8940f-3000.euw.devtunnels.ms/posts/another-example">Different Example</a>
        </h3>

        <span class="details">
            <a href="https://pgq8940f-3000.euw.devtunnels.ms/authors/marekk" class="author">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg" alt="marekk" class="authorAvatar">
                marekk
            </a>
            <p>28.09.2023 19:42</p>
            <p>another example. this shows you can have different titles and slugs</p>
        </span>
    </span>
</div>
<div data-aos="fade-up" class="card">
    <a href="https://pgq8940f-3000.euw.devtunnels.ms/posts/example"><img src="{{ baseURL }}/assets/images/example-cover.jpg" alt="Example Post"></a>

    <span class="info">
        <div class="tags"><a href="{{ baseURL }}/tags/bun-blog" class="tag">bun-blog</a><a href="{{ baseURL }}/tags/example" class="tag">Example Tag</a></div>

        <h3>
            <a href="https://pgq8940f-3000.euw.devtunnels.ms/posts/example">Example Post</a>
        </h3>

        <span class="details">
            <a href="https://pgq8940f-3000.euw.devtunnels.ms/authors/example" class="author">
                <img src="{{ post.author.avatar }}" alt="Example Author" class="authorAvatar">
                Example Author
            </a>
            <p>28.09.2023 19:42</p>
            <p>this post shows what bun blog can do</p>
        </span>
    </span>
</div>