<div class="card">
    <a href="http://127.0.0.1:3000/posts/newest-post"><img src="{{ baseURL }}/assets/images/example-cover.jpg" alt="Newest Post"></a>

    <span class="info">
        <div class="tags"><a href="{{ baseURL }}/tags/bun-blog" class="tag">bun-blog</a><a href="{{ baseURL }}/tags/example" class="tag">Example Tag</a></div>

        <h3>
            <a href="http://127.0.0.1:3000/posts/newest-post">Newest Post</a>
        </h3>

        <span class="details">
            <a href="http://127.0.0.1:3000/authors/third-one" class="author">
                
                third-one
            </a>
            <p>14.01.2024 16:35</p>
            <p>this post shows what bun blog can do</p>
        </span>
    </span>
</div>
<div class="card">
    <a href="http://127.0.0.1:3000/posts/another-example"></a>

    <span class="info">
        <div class="tags"><a href="{{ baseURL }}/tags/bun-blog" class="tag">bun-blog</a><a href="{{ baseURL }}/tags/example" class="tag">Example Tag</a><a href="{{ baseURL }}/tags/another" class="tag">another</a><a href="{{ baseURL }}/tags/different" class="tag">different</a></div>

        <h3>
            <a href="http://127.0.0.1:3000/posts/another-example">Different Example</a>
        </h3>

        <span class="details">
            <a href="http://127.0.0.1:3000/authors/marekk" class="author">
                
                marekk
            </a>
            <p>28.11.2023 19:42</p>
            <p>another example. this shows you can have different titles and slugs</p>
        </span>
    </span>
</div>
<div class="card">
    <a href="http://127.0.0.1:3000/posts/example"><img src="{{ baseURL }}/assets/images/example-cover.jpg" alt="Example Post"></a>

    <span class="info">
        <div class="tags"><a href="{{ baseURL }}/tags/bun-blog" class="tag">bun-blog</a><a href="{{ baseURL }}/tags/example" class="tag">Example Tag</a></div>

        <h3>
            <a href="http://127.0.0.1:3000/posts/example">Example Post</a>
        </h3>

        <span class="details">
            <a href="http://127.0.0.1:3000/authors/example" class="author">
                <img class="authorAvatar" src="{{ baseURL }}/assets/images/example-cover.jpg" alt="Example Author">
                Example Author
            </a>
            <p>28.09.2023 19:42</p>
            <p>this post shows what bun blog can do</p>
        </span>
    </span>
</div>